<div class="cardBox">
    <div class="card">
        <div>
             <div class="numbers">169</div>
             <div class="cardName">All Hostels</div>
         </div>
         <div class="iconBox">
             <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
             <div class="numbers">1000</div>
             <div class="cardName">Daily Vists</div>
         </div>
         <div class="iconBox">
             <ion-icon name="storefront-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
             <div class="numbers">37</div>
             <div class="cardName">Payments made</div>
         </div>
         <div class="iconBox">
             <ion-icon name="logo-alipay"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
             <div class="numbers">49</div>
             <div class="cardName">Rooms Booked</div>
         </div>
         <div class="iconBox">
             <ion-icon name="cart-outline"></ion-icon>
         </div>
    </div>
</div>