<section class="footer"> 
    <div class="text-box">
        <br><h4>Talk to our friendly team of experts</h4>
        <p>Touring and Visiting are the best thing to do in everyone's lesuire time. <br>This shows that you love your body. Please don't disappoint us.</p>
        <a href="" class="hero-btn">Visit us to know more about us</a>
    </div>
    <div class="footer-container">
        
        <div class="row footer-section1">
            <div class="footer-brains col-md-3">
                <h3>Developer team</h3>
                <p>Brian Gaston</p>
                <p>Agii Peter</p>
                <p>Andrew K</p>
            </div>
            <div class="footer-tcs col-md-2">
                <h3>Terms And Conditions</h3>
                <p>Privacy and Policy</p>
                <p>Terms of use </p>
                <p>Return policy</p>
                <p>Delivery Policy</p>
            </div>
            <div class="footer-partnership col-md-2">
                <h3>Partnership</h3>
                <p>Become A Partner </p>
                <p>Partner Login </p>
                <p>List Your Property</p>
            </div>
            <div class="footer-resources col-md-2">
                <h3>Resources</h3>
                <p>Help Center</p>
                <p>Booking Guides</p>
                <p>Contact Us</p>
            </div>
            <div class="col-md-3">
                <h3>Sign up </h3>
                <form>                   
                    <div class="footer-signin input-group mb-3 ">
                      <input type="text" class="form-control" placeholder="Your Email">
                      <div class="input-group-prepend">
                        <button class="btn btn-success" type="button">Send</button>
                      </div>
                    </div>
                </form>
                <div class="icons-brands">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                
            </div>
        </div>
        <div class="copy-right">
            <hr>
            <ul>
                <li class="footer-link">Student Discount</li>
            </ul>
                <br style="height: 0;">
            <ul>
                <li class="footer-link"><p>Cookies</p></li>
                <li class="footer-link"><p>Privacy</p></li>
                <li class="footer-link"><p>Terms</p></li>
                <li class="footer-link"><p>Sitemap</p></li>
                <li class="footer-link"><p > Copyright &copy; All Rights Reserved.  Liracampushostel2022</p></li>
            </ul>
        </div>
        <!-- <div class="reachus">
            <p>You can reach out to our team through</p>
        </div> -->
  </section> 