<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">All Hostels</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="apps-outline"></ion-icon></ion-icon></span>
                <span class="title">Dash board</span>
            </a>
        </li>
        <li>
            <a href="addHostel">
                <span class="icon"><ion-icon name="add-circle-outline"></ion-icon></span>
                <span class="title">Add hostels</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                <span class="title">Users</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="logo-buffer"></ion-icon></span>
                <span class="title">View visted Hostels</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="logo-nodejs"></ion-icon></span>
                <span class="title">Filter Hostels</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="wallet-outline"></ion-icon></span>
                <span class="title">View Payments</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="happy-outline"></ion-icon></span>
                <span class="title">View Followers</span>
            </a>
        </li>
    </ul>
</div>