{{>navigation}}
<div class="main">
    {{>topbar}}

    <div class="container">
        <div class="forms">
            <form action="" class="form1">
                <label for="lname">Hostel name </label>
                <input type="text"class="name" id="lname" name="lname"><br><br>
            </form>
            <form action="" class="form1">
                <label for="lname">Type of A room </label>
                <input type="text"class="name"placeholder="single/Double" id="lname" name="lname"><br><br>
            </form>
            <form action="" class="form1">
                <label for="lname">Rooms available </label>
                <input type="text"class="name" id="lname" name="lname"><br><br>
            </form>
            <form action="" class="form1">
                <label for="lname">Hostel fee </label>
                <input type="text"class="name" id="lname" name="lname"><br><br>
            </form>
            <form action="" class="form1">
                <label for="lname">Account numbers </label>
                <input type="text"class="name" id="lname" name="lname"><br><br>
            </form>
            <form action="" class="form1">
                <label for="lname">Telphone numbers </label>
                <input type="text"class="name" id="lname" name="lname"><br><br>
            </form>
            <form action="" class="form1">
                <label for="lname">distance from the university </label>
                <input type="text"class="name" placeholder="in km" id="lname" name="lname"><br><br>
            </form>
            <form action="" class="form1">
                <label for="lname">Description about the hostel </label>
                <input type="text"class="name" id="lname" name="lname"><br><br>
                
            </form>
            <form action="" class="form1">
                <label for="lname">Rules and regulations </label>
                <input type="text"class="name" id="lname" name="lname"><br><br>
            </form>
        </div>

        <div class="forms1">
            <div class="container-cont">
                <input type="file" id="file-input" accept="image/png, image/jpeg, image/jpg" name="" multiple >
                <label for="file-input">
                    <i class="fa-solid fa-upload"></i> &nbsp; Choose a photo
                </label>
                <p id="num-of-files">No Files Chosen</p>
                
                <div id="images"></div>
            </div>  
            <form action="">
                <input class="submitButon" type="submit" value="Submit">
            </form>
        </div>
        
    </div>

    {{>footer}}
</div>