{{>navigation}}
<div class="main">
  {{>topbar}}

  <div class="container">
    <div class="forms">
      <form action="" class="form1" id="form_1">
        <label for="lname">Hostel name </label>
        <input type="text" 
        class="name"
         id="lname"
          name="lname"
           /><br /><br />

        <label for="lname">Type of A room </label>
        <input
          type="text"
          class="name"
          placeholder="single/Double"
          id="lname"
          name="lname"
        /><br /><br />

        <label for="lname">Rooms available </label>
        <input type="text"
         class="name"
         id="lname" 
         name="lname"
          /><br /><br />

        <label for="lname">Hostel fee </label>
        <input type="text" 
        class="name" 
        id="lname" 
        name="lname" 
        /><br /><br />

        <label for="lname">Account numbers </label>
        <input type="text" 
        class="name" 
        id="lname" 
        name="lname" 
        /><br /><br />

        <label for="lname">Telphone numbers </label>
        <input type="text" 
        class="name" 
        id="lname" 
        name="lname" 
        /><br /><br />

        <label for="lname">distance from the university </label>
        <input
          type="text"
          class="name"
          placeholder="in km"
          id="lname"
          name="lname"
        /><br /><br />

        <label for="lname">Description about the hostel </label>
        <input type="text"
        class="name" 
        id="lname" 
        name="lname" 
        /><br /><br />

        <label for="lname">Rules and regulations </label>
        <input type="text" 
        class="name" 
        id="lname" name="lname" 
        /><br /><br />
        
        <div class="container-cont">
          <input
            type="file"
            id="file-input"
            accept="image/png, image/jpeg, image/jpg"
            name=""
            multiple
          />
          
          <label for="file-input">
            <i class="fa-solid fa-upload"></i> &nbsp; Choose a photo
          </label>
          <p id="num-of-files">No Files Chosen</p>
        </div>

        <div id="images"></div>
        <input class="submitButon" 
        type="submit" 
        value="Submit" />
      </form>
    </div>

  </div>
  <script>
      document
        .getElementById("form_1")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          console.log("got");

          // added form_data to process 
          let form_data = new FormData(getElementById("form_1")); //form data to collect the data 
          
          let form_contents = {};
          form_data.forEach((v,i)=>{
            form_contents[i] = v;
          })



          // var api = await fetch("http://localhost:5001/hostel/new", {   i added port number
          var api = await fetch("http://localhost:5001/hostel/new", {
            method: "POST",
            //aded during testing-----from docs
            headers: {
              "Content-Type": "text/plain"
            },
            body: JSON.stringify(form_contents),//send form contents to api
          });
          console.log(api);
        });
  </script>
</div>

  {{>footer}}
</div>
