{{>navigation}}
<div class="main">
  {{>topbar}}

  <div class="container">
    <div class="forms">
      <form action="" class="form1" id="form_1">
        <label for="lname"><p>Hostel name </p></label>
        <input type="text" 
        class="name"
         id="lname"
          name="hostel_name"
           /><br /><br />

        <label for="lname"><p>Type of A room </p></label>
        <input
          type="text"
          class="name"
          placeholder="single/Double"
          id="lname"
          name="room_type"
        /><br /><br />

        <label for="lname"><p>Rooms available </p></label>
        <input type="text"
         class="name"
         id="lname" 
         name="available_rooms"
          /><br /><br />

        <label for="lname"><p>Hostel fee </p></label>
        <input type="text" 
        class="name" 
        id="lname" 
        name="hostel_fee" 
        /><br /><br />

        <label for="lname"><p>Account numbers </p></label>
        <input type="text" 
        class="name" 
        id="lname" 
        name="hostel_account_no" 
        /><br /><br />

        <label for="lname"><p>Telphone numbers </p></label>
        <input type="text" 
        class="name" 
        id="lname" 
        name="telephone_number" 
        /><br /><br />

        <label for="lname"><p>distance from the university </p></label>
        <input
          type="text"
          class="name"
          placeholder="in km"
          id="lname"
          name="hostel_distance"
        /><br /><br />

        <label for="lname"><p>Description about the hostel </p></label>
        <input type="text"
        class="name" 
        id="lname" 
        name="hostel_description" 
        /><br /><br />

        <label for="lname"><p>Rules and regulations </p></label>
        <input type="text" 
        class="name" 
        id="lname" 
        name="hostel_rules" 
        /><br /><br />
        
        <div class="container-cont">
          <input
            type="file"
            id="file-input"
            accept="image/png, image/jpeg, image/jpg"
            name=""
            multiple
          />
          
          <label for="file-input">
            <i class="fa-solid fa-upload"></i> &nbsp; Choose a photo
          </label>
          <p id="num-of-files">No Files Chosen</p>
        </div>

        <div id="images"></div>
        <input class="submitButon" 
        type="submit" 
        id="submit-btn"
        value="Submit" />
      </form>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
      document
        .getElementById("form_1")
        .addEventListener("submit", async (e) => {
          e.preventDefault(); 
          console.log("got");

          axios({
            method: 'get',
            URL:('http://localhost:5001/hostel/new'),
          }).then(res => console.log(res)).catch(err => console.error(err))
          // // added form_data to process 
          // let form_data = new FormData(getElementById("form_1")); //form data to collect the data 
          
          // let form_contents = {};
          // form_data.forEach((v,i)=>{
          //   form_contents[i] = v;
          // })



          // // var api = await fetch("http://localhost:5001/hostel/new", {   i added port number
          // var api = await fetch("http://localhost:5001/hostel/new", {
          //   method: "POST",
          //   //aded during testing-----from docs
          //   headers: {
          //     "Content-Type": "text/plain"
          //   },
          //   body: JSON.stringify(form_contents),//send form contents to api
          // });
          // console.log(api);
        });
  </script>
</div>

  <!-- {{>footer}} -->
</div>
