<div class="container">
    <div class="cont1">
        <h3>WELCOME TO THE HOSTEL <br>BOOBKING  APP</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur <br>adipisicing elit. 
            Praesentium asperiores <br>excepturi aspernatur sunt nobis eum,<br> 
            dolorem quidem in, non <br>qui fuga perferendis voluptatibus <br>
            sed maxime ex?<br> Impedit, consequuntur.<br> Ullam, beatae!
        </p>
    </div>
    <div class="cont2">
        <form action=""class="admn-log-form">
            <h3>Login to your Beacon Account</h3>
            <label for="email">email</label>
            <input type="email"
            class="email"
            id="email"
            name="email"
            >
            <br>

            <label for="">password</label>
            <input type="password"
            class="pswd"
            id="pswd"
            name="password"
            >
            <br>

            <label for="">confirm password</label>
            <input type="password"
            class="cpswd"
            id="cpswd"
            name="confirm_password"
            >
            <br>

            <button class="login-regisrer-btn">Login</button>
        </form>
        <p>Don't have an account? <a href="register">signup</a></p>
    </div>
</div>
