<div class="container">
    {{>navigation}}
</div>

<!-- main -->
<div class="main">
  {{>topbar}}

   <div class="cardBox">
       <div class="card">
           <div>
                <div class="numbers">169</div>
                <div class="cardName">All Hostels</div>
            </div>
            <div class="iconBox">
                <ion-icon name="eye-outline"></ion-icon>
           </div>
       </div>
       <div class="card">
           <div>
                <div class="numbers">1000</div>
                <div class="cardName">Daily Vists</div>
            </div>
            <div class="iconBox">
                <ion-icon name="storefront-outline"></ion-icon>
           </div>
       </div>
       <div class="card">
           <div>
                <div class="numbers">37</div>
                <div class="cardName">Payments made</div>
            </div>
            <div class="iconBox">
                <ion-icon name="logo-alipay"></ion-icon>
           </div>
       </div>
       <div class="card">
           <div>
                <div class="numbers">49</div>
                <div class="cardName">Rooms Booked</div>
            </div>
            <div class="iconBox">
                <ion-icon name="cart-outline"></ion-icon>
            </div>
       </div>
   </div>

   <!-- order details list  -->
   <div class="details">
        <div class="recentOrders">
            <div class="cardHead">
                <h2>Recent orders</h2>
                <a href="#" class="btn">View all</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>HostelBooked</td>
                        <td>RoomNo</td>
                        <td>Price(shs)</td>
                        <td>Payment(shs)</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Northern Elite</td>
                        <td>A4</td>
                        <td>400,000</td>
                        <td>400,000</td>
                        <td><span class="status NL">N/L</span></td>
                    </tr>
                    <tr>
                        <td>Black Roof</td>
                        <td>C4</td>
                        <td>400,000</td>
                        <td>100,000</td>
                        <td><span class="status BAL">Bal</span></td>
                    </tr>
                    <tr>
                        <td>Masengele</td>
                        <td>8</td>
                        <td>300,000</td>
                        <td>300,000</td>
                        <td><span class="status NL">N/L</span></td>
                    </tr>
                    <tr>
                        <td>Mandela</td>
                        <td>14</td>
                        <td>450,000</td>
                        <td>100,000</td>
                        <td><span class="status BAL">Bal</span></td>
                    </tr>
                    <tr>
                        <td>St. Peters</td>
                        <td>A4</td>
                        <td>600,000</td>
                        <td>#</td>
                        <td><span class="status NP">NotPaid</span></td>
                    </tr>
                    <tr>
                        <td>Emirates</td>
                        <td>5</td>
                        <td>350,000</td>
                        <td>100,000</td>
                        <td><span class="status BAL">Bal</span></td>
                    </tr>
                    <tr>
                        <td>Maisha</td>
                        <td>A4</td>
                        <td>450,000</td>
                        <td>450,000</td>
                        <td><span class="status NL">N/L</span></td>
                    </tr>
                    <tr>
                        <td>Glorianta</td>
                        <td>B14</td>
                        <td>400,000</td>
                        <td>100,000</td>
                        <td><span class="status BAL">Bal</span></td>
                    </tr>
                    <tr>
                        <td>Apex Hostel</td>
                        <td>G9</td>
                        <td>400,000</td>
                        <td>#</td>
                        <td><span class="status NP">NotPaid</span></td>
                    </tr>
                    <tr>
                        <td>Pilipo Memo</td>
                        <td>A4</td>
                        <td>600,000</td>
                        <td>600,000</td>
                        <td><span class="status NL">N/L</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- new hostels  -->
        <div class="recentHostels">
            <div class="cardHead1" >
                <h2>Visted Hostels</h2>
            </div>
            <table class="recentHostelsTbl">
                <tr>
                    <td style="width:20px; height: 20px;"><div class="imgBx"><img src="images/img1.jpg" alt=""></div></td>
                    <td><h4>PilipoMemorial</h4></td>
                 </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="images/img2.jpg" alt=""></div></td>
                    <td><h4>Somalia</h4></td>
                 </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="images/img3.jpg" alt=""></div></td>
                    <td><h4>BakoBlessed</h4></td>
                 </tr>
            </table>
        </div>
   </div>
</div>
 
</div>
