<div class="container">
    <div class="cont1">
        <h3>WELCOME TO THE HOSTEL <br>BOOBKING  APP</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur<br> adipisicing elit. 
            Praesentium asperiores <br>excepturi aspernatur sunt <br>nobis eum, 
            dolorem quidem in,<br> non qui fuga perferendis<br> voluptatibus 
            sed maxime ex?<br> Impedit, consequuntur.<br> Ullam, beatae!
        </p>
    </div>
    <div class="cont2">
        <form action=""class="adm-reg-form">
            <h3>Register with Beacon Hostel</h3>

            <label for="name">User Names</label>
            <input type="text"
            class="name"
            id="name"
            name="full_name"
            >
            <br>

            <label for="" class="adm-email"> User email</label>
            <input type="email"
            class="email"
            id="email"
            name="email"
            >
            <br>

            <label for="" class="adm-tel"> Telphone Number</label>
            <input type="text"
            class="tel"
            id="tel"
            name="telephone_no"
            >
            <br>

            <label for="" class="adm-pswd">password</label>
            <input type="password"
            class="pswd"
            id="pswd"
            name="password"
            >
            <br>

            <label for="" class="adm-cpswd">confirm password</label>
            <input type="password"
            class="cpswd"
            id="cpswd"
            name="confirm_password"
            >
            <br>

            <button class="login-regisrer-btn">signup</button>
        </form>
        <p>already have an account? <a href="login">login</a></p>
    </div>
</div>

<script src="login.js"></script>