html, body {
    margin: auto !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
  }
  .forms{
      /* width: 80%;
      margin: auto; */
      margin-left: 150px;
  }
.forms label,
.forms1 label{
    display:inline-block;
    width:200px;
    margin-right:30px;
}
.name{
    width: 20rem;
    height: 2rem;
}
.forms1{
    border: 1px solid black;
}
.forms1 .name{
    width: 250px;
    height: 80px;
}
.forms1 form{
    display: grid;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    left: 30px;
}
.top-topbar{
    left: 300px;
}

.upload_images{
    display: flex;
}
.display_image{
    width: 1000px;
    height: 300px;
    border: 1px solid black;
    background-position: center;
    /* background-size: cover; */
}
.submitButton{
    width: 50px;
}

input[type="submit" i] {
    width: 120px;
    color: white;
    background: blue;
    margin-left: 180px;
    height: 40px;
    border-radius: 15%;

}

@media screen and (max-width: 380px){
    .forms label{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 10pt;
        width: 150px;
    }
    .forms input{
        height: 2.5rem;
        width: 10rem;
    }
    .container{
        margin-top: 15px;
        left: 0px;
    }
    .forms{
        border: 1px solid black;
        padding: 10px;
        margin-left: 0px;
        width: fit-content;
    }
    .navigation.active{
        width: 50px;
    
    }
    .main.active{
        /* width: calc(100%-60px); */
        width: auto;
        left: 50px;
    }

}