.forms label,
.forms1 label{
    display:inline-block;
    width:200px;
    margin-right:30px;
}

.forms1 .name{
    width: 250px;
    height: 80px;
}
.forms1 form{
    display: grid;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    left: 30px;
}
.top-topbar{
    left: 300px;
}

.upload_images{
    display: flex;
}
.display_image{
    width: 1000px;
    height: 300px;
    border: 1px solid black;
    background-position: center;
    /* background-size: cover; */
}
.submitButton{
    width: 50px;
}

input[type="submit" i] {
    width: 120px;
    color: white;
    background: blue;
    margin-left: 180px;
    height: 40px;
    border-radius: 15%;

}